<form [formGroup]="projectForm">
  <h3>New project</h3>
  <span class="project-field">
    <label>Project name</label>
    <input type="text" pInputText formControlName="name" />
  </span>

  <span class="project-field">
    <label>Location</label>
    <span class="p-inputgroup">
      <input type="text" pInputText placeholder="/../../.." />
      <button
        type="button"
        pButton
        class="p-button-secondary p-button-outlined pi pi-ellipsis-h"></button>
    </span>
  </span>

  <span class="project-field">
    <label>Format</label>
    <p-dropdown
      [options]="projectFormat"
      placeholder="Select a format"
      optionLabel="name"
      [style]="{ width: '100%' }"
      (onChange)="changeFormat($event)"
      formControlName="format"></p-dropdown>
  </span>

  <div class="size-fields">
    <label>Width</label
    ><p-inputNumber
      formControlName="width"
      [inputStyle]="{ width: '100px' }"
      [useGrouping]="false"
      (onInput)="changeSize()"
      suffix=" px"></p-inputNumber>
    <label>Height</label
    ><p-inputNumber
      formControlName="height"
      [inputStyle]="{ width: '100px' }"
      [useGrouping]="false"
      (onInput)="changeSize()"
      suffix=" px"></p-inputNumber>
  </div>

  <div class="bottom-buttons">
    <button
      pButton
      type="button"
      label="Cancel"
      class="p-button-outlined p-button-secondary"></button>

    <button pButton type="button" label="Create project"></button>
  </div>
</form>
