<form [formGroup]="projectForm" (ngSubmit)="createProject()">
  <h3>New project</h3>
  <span class="project-field">
    <label>Project name</label>
    <input type="text" pInputText formControlName="name" />
  </span>

  <span class="project-field">
    <label>Location</label>
    <span class="p-inputgroup">
      <input
        type="text"
        pInputText
        formControlName="location"
        placeholder="/../../.." />
      <button
        type="button"
        pButton
        class="p-button-secondary p-button-outlined pi pi-ellipsis-h"></button>
    </span>
  </span>

  <span class="project-field">
    <label>Format</label>
    <div class="format-buttons">
      <div *ngFor="let format of projectFormat" class="field-checkbox">
        <p-radioButton
          [inputId]="format.key"
          name="format"
          [value]="format"
          (onClick)="changeFormat($event)"
          formControlName="format"></p-radioButton>
        <label [for]="format.key">{{ format.name }}</label>
      </div>
    </div>
  </span>

  <div class="size-fields">
    <label>Width</label
    ><p-inputNumber
      formControlName="width"
      [inputStyle]="{ width: '100px' }"
      [useGrouping]="false"
      (onInput)="changeSize()"
      suffix=" px"></p-inputNumber>
    <label>Height</label
    ><p-inputNumber
      formControlName="height"
      [inputStyle]="{ width: '100px' }"
      [useGrouping]="false"
      (onInput)="changeSize()"
      suffix=" px"></p-inputNumber>
  </div>

  <div class="bottom-buttons">
    <button
      pButton
      type="button"
      label="Cancel"
      class="p-button-outlined p-button-secondary"></button>

    <button pButton type="submit" label="Create project"></button>
  </div>
</form>
