<!--<app-file />-->
<!--<app-file />-->
<!--<app-file />-->
<!--<app-file />-->
<!--<app-file />-->
<!--<app-file />-->
<!--<app-file />-->
<!--<app-file />-->

<app-file-explorer-preview />

<p-treeTable [value]="files">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr>
      <td>{{rowData.name}}</td>
      <td>{{rowData.file_type}}</td>
      <td>{{rowData.size}}</td>
    </tr>
  </ng-template>
</p-treeTable>
