:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  :last-child {
    height: calc(100% - 250px);
  }
}

tr {
  font-size: 13px;
}

th, td {
  &:nth-child(2){
    width: 15%;
  }
  &:last-child {
    width: 30%;
  }
}
