:host {
  position: absolute;
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  grid-template-columns: 20% auto 15%;
  grid-template-rows: auto 250px;
  grid-gap: 5px;
  grid-template-areas:
    'left middle right'
    'bottom bottom bottom';
  background-color: var(--surface-ground);
}

section {
  background-color: var(--surface-card);
  overflow: hidden;
  &.left {
    grid-area: left;
  }
  &.middle {
    grid-area: middle;
  }
  &.right {
    grid-area: right;
  }
  &.bottom {
    grid-area: bottom;
  }
}
